
{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-----Registeration form---->

<div class="container  pt-4 ">
  <br>
  <br>
</div>

<div class="container  pt-4 " >
      <div class="row align-items-center" >
      <div class=" col-lg-12 d-flex bg-white  p-4 mx-auto  shadow-sm" style="max-width: 750px; border-radius: 25px;">          
          
        
        <form class=" row needs-validation" method="POST" onsubmit="return submitUserForm();">

          {% csrf_token %}

            <div class="row g-3">
              <header style="display:block">
              <h3 class=" fw-bold pb-2 border-bottom">Registeration</h3> 
              </header>
            
              <div class="col-12">
                <label for="first_name" class="form-label fw-bold">First Name*</label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter your first name"  maxlength=50 autofocus required>
                <h6 style="color:#ff0000;">{{form.first_name.errors}}</h6>
              </div>

              <div class="col-12">
                <label for="last_name" class="form-label fw-bold">Last Name</label>
                <input type="text" class="form-control" name="last_name"  id="last_name" placeholder="Enter your last name"  maxlength=50 autofocus >
                <h6 style="color:#ff0000;">{{form.last_name.errors}}</h6>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label fw-bold">Email*</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" required>
                <h6 style="color:#ff0000;">{{form.email.errors}}</h6>
              </div>
  
              <div class="col-12">
                <label for="password1" class="form-label fw-bold">Password*</label>
                <input type="password" class="form-control" name="password1"  id="password1" placeholder="Enter your password" minlength="8" maxlength="15" required>
                <p class="text-muted pt-1" style="font-size:smaller;">*Your password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</p>
                <h6 style="color:#ff0000;">{{form.password1.errors}}</h6>
              </div>
  
              <div class="col-12">
                <label for="password2" class="form-label fw-bold">Confirm password*</label>
                <input type="password" class="form-control" name="password2" id="password2" placeholder="Enter your password again" minlength="8" maxlength="15" required onkeyup="matchPassword()">
                <!--<h6 style="color:#ff0000;">{{form.password2.errors}}</h6>-->
				<div id="matching" style="color:#ff0000; display:none"><i class="fa-solid fa-xmark mx-2"></i>The passwords don't match</div>
              </div>
  
              <div class="col-12">
                <label for="number" class="form-label fw-bold">National ID*</label>
                <input type="number" class="form-control" name="national_id" id="id" placeholder="Enter your 14-digits ID number" maxlength=14 minlength=14 required>
                <h6 style="color:#ff0000;">{{form.national_id.errors}}</h6>
              </div>
              
              <div class="col-12">
                <label for="number" class="form-label fw-bold">Phone number*</label>
                <input type="number" class="form-control" name="phone" id="phone" pattern="[0]+[1]+[0125]+[\d]{7}" placeholder="Enter your 11-digits phone number" required>
                <p class="text-muted pt-1" style="font-size:smaller;">*Your phone must be in form "01xx xxx xxxx"</p>
                <h6 style="color:#ff0000;">{{form.phone.errors}}</h6>
              </div>
			  
			  <!--<div class="col-12">
                <div class="g-recaptcha" data-sitekey="6LdAahUfAAAAAK0ye-lzB6xG4xQ_o2YHHcCFBGuL" data-callback="verifyCaptcha"></div>
				 <div id="g-recaptcha-error"></div>
              </div>-->

            <button class="w-100 btn btn-primary btn-lg mt-4 fw-bold rounded-pill"  type="submit" id="regbtn">Register</button>
          </form>
        
        
        </div>
      </div>
  </div>
</div>

<script>
/*var recaptcha_response = '';
function submitUserForm() {
    if(recaptcha_response.length == 0) {
	console.log(recaptcha_response.length)
        document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
        return false;
    }
    return true;
}
 
function verifyCaptcha(token) {
    recaptcha_response = token;
    document.getElementById('g-recaptcha-error').innerHTML = '';
}*/
  
  function matchPassword() {  
    
    var pw1 = document.getElementById("password1");  
    var pw2 = document.getElementById("password2");  
    if(pw1.value != pw2.value)  
    {   
      document.getElementById("matching").style.display="block"; 
    } else {  
      document.getElementById("matching").style.display="none";  
    }  
  } 

  document.getElementById("floatingInput").addEventListener("keyup", pass);

  document.getElementById("floatingPassword").addEventListener("keyup", pass);
  function pass(){
    const email = document.getElementById("floatingInput").value;
      const pass = document.getElementById("floatingPassword").value;
    if(email.length >= 4 && pass.length >= 4) {
      document.getElementById("signbtn").removeAttribute("disabled");
    }
    else {
      document.getElementById("signbtn").setAttribute("disabled",true);
    }	
  }
  </script>  


{% endblock %}

